<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile">
        <activity
            android:name=".view.UserActivity.order.OrderDetailsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".view.UserActivity.order.OrderResultActivity"
            android:exported="false" />
        <activity
            android:name=".view.UserActivity.order.CheckOutActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.example.mobile.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.UserActivity.main.activities.SearchResultsActivity"
            android:exported="false"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".view.UserActivity.main.activities.ItemDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.UserActivity.verifyuser.ConfirmNewPassActivity"
            android:exported="false" />
        <activity
            android:name=".view.UserActivity.verifyuser.ForgotPassIdentificationActivity"
            android:exported="false" />
        <activity
            android:name=".view.UserActivity.main.activities.MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".view.UserActivity.verifyuser.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.UserActivity.verifyuser.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".view.UserActivity.main.activities.RecentQuerySuggestionProvider"
            android:authorities="com.example.RecentQuerySuggestionProvider" />
    </application>

</manifest>